@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

header {
    
    height: 150px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    padding-top: 40px;
}

header > h1 {
    text-shadow: rgba(0, 0, 0, 0.411) 2px 2px 0px;
    font-family: var(--fonte1);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
}

header > p {
    text-shadow: rgba(0, 0, 0, 0.411) 2px 2px 0px;
    font-family: var(--fonte0);
    font-size: 1,2em;
    max-width: 500px;
    padding: 0px 20px;
    margin: auto;
}
    
nav {
    font-weight: bold;
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 7px 7px 0px;

}

nav > a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:visited {
    color: white;
    text-decoration: none;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
}

body {
    
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

a.externo::after {
    content: '\00A0\1F517';
}

main {
    background-color: white;
    color: black;
    min-width: 300px;
    max-width: 800px;
    margin: 0px auto 15px;
    padding: 20px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.308) 0px 2px 7px 2px;
    border-radius: 0px 0px 10px 10px;
    
}

main h1 {
    font-family: var(--fonte2);
    color: var(--cor4);
    margin: 10px auto;
}

main h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
    
    
}

main p {
    padding: 10px 0px;
    text-indent: 20px;
    line-height: 1.5em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
}

img {
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: auto;
    padding-bottom: 57.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    text-align: justify;
    background-color: var(--cor0);
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.308) 0px 2px 7px 2px;
}

aside p {
    padding: 10px;
}

aside > h3 {
    color: white;
    background-color: var(--cor3);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: auto;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    padding: 10px;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

footer > p {
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
